tr.even { 
    background: greenyellow; 
}
tr.odd { 
    background: white; 
}

thead tr { 
    background: green; 
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
    
}

td {
    border: none;
}

cross {
    background: white;
}
