tr.even { 
    background: greenyellow; 
}
tr.odd { 
    background: green; 
}

thead tr { 
    background: blue; 
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td {
    border: none;
}
