body{
    padding-top: 170px;
    height: 1250px;
    background: linear-gradient(#b0d5ff, transparent 70%),
                linear-gradient(0deg, #fff, transparent),
                #49b6ffc5 url('../img/loginpicture.jpg') no-repeat center;
    background-size: cover;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(51, 50, 50, 0.507);
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500; 
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgba(255, 255, 255, 0.808);
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;  
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: rgba(255, 255, 255, 0.808);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}



/*.main-headertwo {
    padding-top: 170px;
    height: 850px;
    background: linear-gradient(#b0d5ff, transparent 70%),
                linear-gradient(0deg, #fff, transparent),
                #49b6ffc5 url('../img/loginpicture.jpg') no-repeat center;
    background-size: cover;
  }*/




